@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

:root {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

.font-playfair{
 font-family: Playfair !important;
}

.marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Ensure smooth transition */
.animate-marquee {
  -webkit-animation: marquee 15s linear infinite;
  animation: marquee 15s linear infinite;
}